header {
    height: 95vh;
    padding-top: 10.5rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 12rem;
    position: relative;
}

.cv {
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

@media screen and (max-width: 1024px) {
    header {
        min-height: auto;
    }
}

@media screen and (max-width: 600px) {
    header {
        min-height: auto;
    }
}